@use "./mixins.scss";

.advantages-with-numbers {
  display: flex;
}

.advantages-with-numbers__list {
  @include mixins.reset-list;
  display: grid;
  grid-column: 268px;
  column-gap: 50px;
  margin: 0 18px;
}

.advantages-with-numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .advantages__title {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .advantages__description {
    margin-bottom: 24px;
  }
}

.advantages-with-numbers__item:not(:last-child) {
  border-bottom: 1px solid #D6D6D6;
}
