@use "./mixins.scss";

.advantages {
  display: flex;
}

.advantages__wrapper {
  display: flex;
  max-width: 320px;
}

.advantages__list {
  @include mixins.reset-list;
  display: grid;
  align-items: center;
  width: 320px;
  box-sizing: border-box;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.advantages__item:first-child {
  background-image: url(../img/hero-advantages-divider.svg);
  background-repeat: no-repeat;
  background-position: top;
  .advantages__title {
    padding-top: 63px;
  }
}

.advantages__item--with-image {
  background-color: #81B3D2;
  color: #FFFFFF;
  overflow:hidden;
  .advantages__title {
    padding-top: 40px;
  }
  .advantages__description {
    padding-bottom: 40px;
  }
}

.advantages__item--with-numbers {
  background-color: #EEEEEE;
  color: #333333;
}

.advantages__item--reasons {
  display: grid;
  box-sizing: border-box;
  width: 320px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
  width: 284px;
}

.advantages__number {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages__image {
  display: flex;
  width: 320px;
  height: 260px;
  object-fit: cover;
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  width: 284px;
  margin: 0;
}
