@use "../global/mixins.scss";

.advantages-reasons {
}

.advantages-reasons__list {
  @include mixins.reset-list;
  display: grid;
  grid-template-columns: 284px;
  row-gap: 25px;
  margin: 22px 18px;
}

.advantages-reasons__item {
  display: flex;
  box-sizing: border-box;
  width: 284px;
  flex-direction: column;
  padding-left: 47px;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
}

.advantages-reasons__item--house {
  background-image: url(../img/advantages-icons/house.svg);
}

.advantages-reasons__item--food {
  background-image: url(../img/advantages-icons/food.svg);
}

.advantages-reasons__item--present {
  background-image: url(../img/advantages-icons/present.svg);
}

.advantages-reasons__title,
.advantages-reasons__description {
  text-align: left;
  width: 237px;
}

.advantages-reasons__title {
  padding-top: 8px;
}

.advantages-reasons__description {

}
