.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
}

.catalog__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
}

.catalog__photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
}

.catalog__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
}
