@use "./mixins.scss";

.footer-social {
  display: flex;
  align-items: center;
  text-align: center;
  width: 156px;
  margin-top: 34px;
}

.footer-social__list {
  @include mixins.reset-list;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 6px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social__item {
  display: flex;
  justify-content: center;
}

.footer-social__button {
  @include mixins.reset-list;
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
}

.footer-social__button--vk {

}

.footer-social__button--telegram  {

}

.footer-social__button--youtube {

}

.footer-social__icon {
  color: #FFFFFF;
  margin-top: 16px;
}

.footer-social__button:hover {
  background-color: #669EC0;
}

.footer-social__button:active {
  background-color: #5496BD;
  .footer-social__icon {
    color: rgb(255, 255, 255, 0.3);
  }
}

.footer-social__button:focus-visible {
  outline: 2px solid #2D3440;
  background-color: #5496BD;
}

.footer-social__button:invalid {
  background-color: #E5E5E5;
}

