@use "../global/variables.scss";

.main {
  display: flex;
  width: 320px;

  @media (min-width: variables.$tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.main__hero {
  display: flex;
  flex-direction: column;
}

.main__advantages {

}

.main__search-form-link {

}

.main__main-map {

}
