
.map {
  display: flex;
  justify-content: center;
  background-image: url(../img/map-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  height: 350px;
  overflow: hidden;

}

.map__marker {
  display: flex;
  align-self: center;
  justify-content: center;
}
