
.map {
  display: block;
  border: none;
  overflow: hidden;
  position: relative;
}

.map::before {
  content: url(../img/map-marker);
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 10;
}
