
.map {
  display: block;
  border: none;
  // background-image: url(../img/map-main.jpg);
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  overflow: hidden;
}

.map__marker {
  display: flex;
  align-self: center;
  justify-content: center;
}
