@use "../global/mixins.scss";
@use "../global/variables.scss";

.video-catalog {
  display: flex;
}

.video-catalog__wrapper {
  margin: 0 20px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;

  @media (min-width: variables.$tablet-width) {
    width: 768px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 1200px;
  }
}

.video-catalog__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 266px;

  @media (min-width: variables.$tablet-width) {
    width: 445px;
    font-size: 30px;
    margin-top: 62px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 445px;
  }
}

.video-catalog__description {
  margin: 0;
  margin-bottom: 38px;
  display: flex;
  width: 266px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  @media (min-width: variables.$tablet-width) {
    width: 445px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 445px;
  }
}

.video-catalog__video-link {
  @include mixins.reset-link;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/video-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  width: 280px;
  height: 177px;

  @media (min-width: variables.$tablet-width) {
    width: 648px;
    height: 500px;
    margin-bottom: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
    height: 500px;
    margin-bottom: 60px;
  }
}

.video-catalog__icon {
  display: flex;
  align-self: center;
  justify-content: center;
}
