@use "/source/sass/main-content/advantages/advantages__title.scss";
@use "/source/sass/main-content/advantages/advantages__description.scss";
@use "/source/sass/main-content/advantages/advantages__number.scss";
@use "/source/sass/main-content/advantages/advantages__image.scss";


.advantages__item {
  display: flex;
  flex-direction: column;
  min-width: 284px;
}

.advantages__item--with-image {
  color: #FFFFFF;
  background-color: #81B3D2;
}

.advantages__item--with-numbers {
  background-color: #EEEEEE;
  color: #333333;
}

.advantages__item--reasons {
  display: grid;
}
