.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background-color: #81B3D2;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  outline: transparent;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #669EC0;
}

.button:active {
  background-color: #5496BD;
  color: rgb(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: 2px solid #2D3440;
  background-color: #5496BD;
}

.button:invalid {
  background-color: #E5E5E5;
}
