.body {
  font-family: 'PT-sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.body__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.body__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.body__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
