.footer-social {
  display: flex;
  align-items: center;
  text-align: center;
  width: 156px;
}

.footer-social__list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 6px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
}

.footer-social__button {
  width: 24px;
  height: 24px;
}

.footer-social__button--vk {

}

.footer-social__button--telegram  {

}

.footer-social__button--youtube {

}

.footer__copyright {

}
