
.hero {
  display: flex;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-height: 389px;
}

.hero__background {
  background-image: url(../img/hero-index-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 389px;
}

.hero__vector {
  margin: 90px 19px 85px;
}

.hero__text {
  display: flex;
  flex-direction: column;
}


