.hero-form {
  width: 320px;
  border-bottom: 1px solid #E5E5E5;
}

.hero-form__wrapper {

}

.hero-form__text {
  margin: 38px 18px 26px;
}

.hero-form__background {
  height: 158px;
  width: 320px;
  background-size: cover;
}

.hero-form__vector {
  padding: 57px 45.5px 62px;;
}
