.hero-catalog {
  width: 320px;
  border-bottom: 1px solid #E5E5E5;
}

.hero-catalog__wrapper {

}

.hero-catalog__text {
  margin: 38px 18px 26px;
}

.hero-catalog__background {
  height: 158px;
  width: 320px;
  background-size: cover;
}

.hero-catalog__vector {
  padding: 57px 45.5px 62px;;
}
