
.hero {
  display: flex;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.hero__wrapper--sedona {
  border-bottom: 1px solid #E5E5E5;
}

.hero__background {
  background-image: url(../img/hero-index-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 320px;
  height: 389px;
}

.hero__background--sedona {
  height: 158px;
}

.hero__vector {
  padding: 70px 19px 105px;
  background-image: url(../img/hero-divider.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero__vector--sedona {
  padding: 57px 45.5px 62px;
}

.hero__text {
  display: flex;
  flex-direction: column;
}

.hero__text--catalog,
.hero__text--form {
  margin: 38px 18px 26px;
}


