
.main {
  display: flex;
  max-width: 320px;
}

.main__hero {
  display: flex;
  flex-direction: column;
}

.main__advantages {

}

.main__search-form-link {
  max-width: 320px;
  box-sizing: border-box;
}

.main__main-map {

}
