@use "./mixins.scss";

.site__list {
  display: none;
  @include mixins.reset-list;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 320px;
}

.site-list__item {
  display: none;
  min-height: 55px;
  box-sizing: border-box;
  background-color: #81B3D2;
  color: #FFFFFF;
}

.site-list__link {
  @include mixins.reset-link;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 81px;
}

.site-list__link--current {
  color: #766357;
}

